db/
incremental_db/
output_files/
simulation/
greybox_tmp/
hc_output/
.qsys_edit/
hps_isw_handoff/
*.qws
*.ppf
*.ddb
*.sopcinfo
*.bak
*.orig
*.rej
*~
build_id.v
c5_pin_model_dump.txt
PLLJ_PLLSPE_INFO.txt
